@use "../styles/mixins" as *;

.resume {
  font-size: 14px;

  @include desktop {
    max-width: 680px;
  }

  .tab {
    border-bottom: 1px solid var(--border2);
    display: flex;
    gap: 32px;

    button {
      background-color: transparent;
      color: var(--muted-text);
      border: none;
      border-radius: 0;
      cursor: pointer;
      padding: 12px 0;
      transition: 0.3s;
      text-transform: capitalize;
      font-size: 13.5px;

      &:hover {
        color: var(--accent);
      }

      &.active {
        color: var(--hero-text);
        text-shadow:
          0 0 0.4px currentColor,
          0 0 0.4px currentColor;
        border-bottom: 2px solid var(--accent);
      }
    }
  }

  .tabcontent {
    padding: 16px 0;
    border: none;

    &.hidden {
      display: none;
    }
  }

  /* SKILLS */

  .skills {
    font-size: 13.5px;
    columns: 1; 
    column-gap: 3rem;

    @include desktop {
      columns: 2; 
      column-gap: 70px;
    }

    .eyebrowLabel {
      font-weight: 600;
    }
    div {
      border-top: 1px solid var(--border);
      break-inside: avoid; 
      margin-bottom: 2rem;
    }

    ul {
      @include chip-list;
    }
  }

  /* WORK EXPERIENCE */

  .workExp {
    display: flex;
    flex-direction: column;
    gap: 40px; // space between companies

    .weHeader {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: 1px solid var(--border);

      @include desktop {
        flex-direction: row;
      }

      .meta {
        padding-bottom: 8px;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      gap: 16px; // space between the company header and each role

      p {
        font-size: 13.5px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--border);
      }
    }
  }

  .position {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      gap: 24px;
      align-items: baseline;
    }

    h5 {
      margin-top: 0;
    }

    .meta {
      flex-shrink: 0;
      color: var(--accent);

      @include desktop {
        width: 130px;
        white-space: nowrap;
        color: var(--muted-text);
      }
    }

    ul {
      margin-top: 8px;
      padding-left: 16px;

      li {
        font-size: 13.5px;
      }
    }
  }

  blockquote {
    margin-left: 0;

    & ~ blockquote {
      margin-top: 24px;
    }
  }
}
